body {
    background: #aec5e0; 
}

h1 {
    color: red;
    text-align: center;  
}

.center {
    text-align: center;
}

#score-area {
    text-align: center;
}

#controls {
    text-align: center;
}

#new-game,
#home {
    display: inline-block;
}

#memory-game-area {
    width: 800px;
    height: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 120px;
    height: 150px;
    position: relative;    
    margin: 5px;    
    transform-style: preserve-3d;    
}

.card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}